body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}
/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}



/*
 * Base structure
 */
 body {
    background-image: url("../img/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
/* body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* Custom styles for the card body */
/* .card-body.custom-card-body {
    background-color: #a8a8a8;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .card-body.custom-card-body h5 {
    color: #283593;
    font-weight: bold;
  }
  
  .card-body.custom-card-body p {
    color: #ffffff;
    margin-bottom: 10px;
  } */


  /* new css */

  /* Custom styles for the card body */
.card {
    border: none;
    /* background: #0F0D09; */
    background-image: url("../img/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .image-flip:hover .backside,
  .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
  }
  
  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
  }
  
  .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }
  
  .frontside,
  .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
  }
  
  .frontside .card,
  .backside .card {
    min-height: 312px;
  }
  
  .backside .card a {
    font-size: 18px;
    color: #ffffff !important;
  }
  
  .frontside .card .card-title,
  .backside .card .card-title {
    color: #ffffff !important;
  }
  
  .frontside .card .card-body img {
    width: 120px;
    height: 150px;
    border-radius: 50%;
  }
  
  .btn-secondary:hover {
    background-color: #00a4e4; /* Change the background color on hover */
    border-color: #00a4e4; /* Change the border color on hover */
    box-shadow: none; /* Remove box shadow on hover (optional) */
  }
  
